/**
 * @file
 * Views Hero
 *
 * Filename:     vvjs-576.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
@media (min-width:36rem) {
  .vvjs.br-576.arrows-top-big .slide-indicators {
    opacity: 0.2;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }

  .vvjs.br-576.arrows-top-big .slide-indicators:hover {
    opacity: 1;
    outline: none;
    background-color: transparent !important;
  }

  .vvjs.br-576 .slide-indicators.arrows-sides-big {
    opacity: 1;
  }

  .vvjs.br-576.arrows-sides-big .vvjs-inner {
    width: calc(100% - 120px);
    margin: 0 auto;
  }

  .vvjs.br-576.arrows-sides-big .slide-indicators .next-arrow {
    right: -60px;
  }

  .vvjs.br-576.arrows-sides-big .slide-indicators .prev-arrow {
    left: -60px;
  }

}


@media (max-width:35.99875rem) {
  html .vvjs.br-576.arrows-top-big .slide-indicators,
  html .vvjs.br-576.arrows-sides-big .slide-indicators {
    display: none !important;
  }

}
